{{template "base"}}
  <body>
  <div class="flextest">
  <div>
   <h1 class="WelcomeBanner">Oops! Somthing went wrong....</h1>
   <em class="WelcomeBanner">{{.Msg}}</em>
  </div>
  <br>
  <br>
  <a href="index.html">
  <button class="buttontest">Home</button>
  </a>
  </div>
  </body>

</html>