{{template "base"}}
  <body>
  <div class="flextest">
  <div>
   <h1 class="WelcomeBanner">Welcome to Tolkien Search</h1>
   <form action="/charsearch" method="GET">
   <div>
   <input type="text" name="charname" placeholder="enter a character name" class="searchbox">
   </div>
   <div>
   <input type="submit" value="Search" class="buttontest">
   </div>
   </form>
  </div>
  </div>
  </body>

</html>